<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main-page.css">
    <title>Bi.rd</title>

    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>


</head>

<body>
    <div id="banner">
        <li><a href="/">Bi.rd<span>&nbsp&nbsp|&nbsp&nbsp</span></a></li>
        <li><a href="/">Home<span>&nbsp&nbsp|&nbsp&nbsp</span></a></li>
        <li><a href="/ratings">Ratings<span>&nbsp&nbsp|&nbsp&nbsp</span></a></li>
        <li><a href="/law">Laws<span>&nbsp&nbsp|&nbsp&nbsp</span></a></li>
        <button id="search-button" type="button" id="search-button">Search</button>
        <input class="input-small" type="text" name="search-bar" id="search-bar">
    </div>

    <script src="/__/firebase/3.9.0/firebase-app.js"></script>
    <script src="/__/firebase/3.9.0/firebase-auth.js"></script>
    <script src="/__/firebase/3.9.0/firebase-storage.js"></script>
    <script src="/__/firebase/init.js"></script>



</body>
</html>