body {
    margin: 0px;
}

#banner {
    background-color: #d4d4d4;
    overflow: hidden;
    height: 30px;
    background: linear-gradient(gray, white);
} 

li {
    float: left;
    list-style: none;
}

#banner p {
    float: left;
}

li a {
    color: Black;
    text-decoration: none;
    font-size: 20px;
}

#search-bar {
    float: right;
    font-size: 20px;
    align-content: right;
    border-radius: 5px;
}

#search-button {
    float: right;
    font-size: 20px;
    align-content: right;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

#display {
    display: flex;
    flex: auto;
    flex-direction: column;
}

/* #display div {
    display: flex;
} */

.upvote {
    color: green;
    font-size: 100px;
}

.downvote {
    color: red;
    font-size: 100px;
}

.mid-bar {
    color: gray;
    font-size: 100px;
}

p {
    display: inline;
    vertical-align: middle;
}

img {
    max-width: 300px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    color: green;
    font-size: 100px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
